.sectionPresupuesto{
    background-color: #FFFF00;
    padding-bottom: 0.5rem;
}

.presupuestoTitle{
    margin: 0 0 0 1rem;
}

.text{
    font-size: 1.2rem;
    font-weight: 600;
}

.inputPres{
    border: 1px solid black;
    border-radius: 0.2rem;
    color: black;
    padding-left: 0.25rem;
}

.cards{
    width: 70%;
    display: flex;
    justify-content: space-evenly;
    margin: 1rem auto;
}

.card{
    border: 3px black solid;
    border-radius: 0.5rem;
    width: 7rem;
    height: 10.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sorpresa{
    font-size: 3rem;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.resultado{
    font-size: 1.5rem;
    margin: 1rem auto;
}