.sectionLeer{
    background-color: #00FF00;
    display: flex;
    flex-direction: column;
}

.leerTitle{
    margin: 0 0 0 1rem;
}

.flipBtn{
    height: 2rem;
    width: 5rem;
    background-color: transparent;
    color: black;
    border: black 1px solid;
    border-radius: 0.2rem;
    margin: 0 auto 1rem auto;
    cursor: pointer;
    outline: none;
    font-weight: 500;
    transition: 0.2s all;
}

.flipBtn:hover{
    color: rgb(54, 51, 51);
    padding: 0.1rem;
    border: 2px solid rgb(54, 51, 51);
    font-weight: 600;
    font-size: 0.8rem;
}

.coinImg{
    margin: 1rem auto;
    width: 10rem;
    height: 10rem;
}

.sms{
    font-size: 1.3rem;
    font-weight: 600;
}