.radicalSection{
    background-color: #4B0082;
    padding: 1rem;
    color: white;
}

.radicalTitle{
    margin: 0rem 0 2rem 1rem;
    
}

.radicalBtn{
    height: 2rem;
    width: 5rem;
    background-color: transparent;
    color: white;
    border: 1px solid white;
    border-radius: 0.25rem;
    margin: 0 auto 1rem auto;
    cursor: pointer;
    outline: none;
    font-size: 0.8rem;
    font-weight: 500;
    transition: 0.3s all ease-in;
}

.radicalBtn:hover{
    color: rgb(200, 197, 197);
    padding: 0.1rem;
    border: 2px solid rgb(200, 197, 197);
    font-weight: 600;
    font-size: 0.9rem;
    box-shadow: 6px 7px 6px -3.5px rgba(176,166,166,0.83);
    -webkit-box-shadow: 6px 7px 6px -3.5px rgba(176,166,166,0.83);
    -moz-box-shadow: 6px 7px 6px -3.5px rgba(176,166,166,0.83);
}