.wrap{
    background-color: rgb(250, 250, 250);
    height: 100vh;
    color: black;
    margin: 0;
    padding: 0.5rem;
}

.homeTitle{
  margin: 0.5rem 0 0 0;
}

.btns{
  height: 2rem;
  width: 5rem;
  border: black 1px solid;
  border-radius: 0.2rem;
  margin: 1rem auto;
  outline: none;
  cursor: pointer;
  transition: 0.5s all ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;

}

.btns:hover{
  padding: 0.1rem;
  border: 2px solid rgb(200, 197, 197);
  box-shadow: 6px 7px 6px -3.5px rgba(176,166,166,0.83);
-webkit-box-shadow: 6px 7px 6px -3.5px rgba(176,166,166,0.83);
-moz-box-shadow: 6px 7px 6px -3.5px rgba(176,166,166,0.83);
}

.link{
  background-color: transparent;
  color: black;
  font-size: 0.8rem;
  font-weight: 500;
  transition: 0.5s all ease-in-out;
  text-decoration: none;
}


.link:hover{
  color: rgb(200, 197, 197);
  font-weight: 600;
  font-size: 0.9rem;
}

.videoWorld{
  width: 50%;
  margin-top: 0rem;
}